<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Web - Playlist</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="../static/playlist.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Music_Web</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('playlist') }}">Playlist</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('search') }}">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="header">
            <h1>My Playlist</h1>
        </div>
        <!-- Añadir mensajes flash -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert-container">
                    {% for message in messages %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <div class="row">
            {% for song in songs %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="{{ song.album_image }}" class="card-img-top" alt="Album cover of {{ song.album }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ song.song_name }}</h5>
                            <p class="card-text">Artist: {{ song.artist }}</p>
                            <p class="card-text">Album: {{ song.album }}</p>
                            {% if song.url %}
                                <audio controls>
                                    <source src="{{ song.url }}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio>
                            {% else %}
                                <p>No preview available</p>
                            {% endif %}
                            <form method="post" action="{{ url_for('delete_song', song_id=song.id) }}">
                                <button type="submit" class="btn btn-danger mt-3">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
